<div class="users-container">

    <div *ngIf="backendError">
        {{ backendError }}
    </div>

    <table>
        <thead>
            <tr *ngIf="!backendError">
                <th>Email</th>
                <th>Enabled</th>
                <th>Role</th>
                <th>Add Role</th>
            </tr>
        </thead>
        
        <tbody>
            <tr *ngFor="let user of users">
                <td><a [routerLink]="['/user-page', user.email  ]"> {{ user.email }}</a></td>
                <td>{{ user.enabled }}</td>
                <td>
                    <span class="user-role" *ngFor="let role of user.roles">
                        {{ role.role }}
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
