<section>
    <form [formGroup]="newPasswordForm" (ngSubmit) = "onSubmit()">

        <label for="password">Password:</label>
        <input id="password" type="password" 
        formControlName="password" required>
        
        <div *ngIf="password.invalid" class="alert-danger">
            <div *ngIf="password.errors.required">
                Password is required
            </div>
            <div *ngIf="password.errors.minlength">
                Password needs to be at least 8 characters long
            </div>
        </div>

        <div *ngIf="error" class="alert-danger">
            {{ backendError }}
        </div>

        <button class="register-form-button" type="submit">Register</button>
    </form>

    <div *ngIf="isPasswordSaved">
        Your new password is saved
    
        <h4>Account:</h4>
        <ul>
            <li>id: {{ user.id }}</li>
            <li>Email: {{ user.email }}</li>
        </ul>
    </div>
</section>