<section class="login-container">
    <form [formGroup]="forgotPasswordForm" (ngSubmit) = "onSubmit()">

        <label for="email">Email:</label>
        <input id="email" type="text" 
            formControlName="email" required>
        
        <div *ngIf="email.invalid" class="alert-danger">
            <div *ngIf="email.errors.required">
                Email is required
            </div>
        </div>
        <div *ngIf="error" class="alert-danger">
            {{ error }}
        </div>
        <button class="forgot-password-button" type="submit">Reset Password</button>
    </form>
</section>
<section>
    <div *ngIf="isEmailSent">
        Email sent to {{ user.email }}. Click on the link to reset password.
    </div>
</section>
