@charset "utf-8";

body {
    margin:0px;
	padding:0px;	
	font-family: calibri;
}
a {
	text-decoration: none;
}

ul {

	margin:0px;
	padding:0px;	

	li {
		list-style-type: none;
	}
}

.alert-danger {
    color: red;
}

.success {
	color: green;
}
