<section class="register-container">
    <form [formGroup]="registerForm" (ngSubmit) = "onSubmit()">

        <label for="email">Email:</label>
        <input id="name" type="text" 
            formControlName="email" required>
        
        <div *ngIf="email.invalid" class="alert-danger">
            <div *ngIf="email.errors.required">
                Email is required
            </div>
            <div *ngIf="email.errors.email">
                Not a valid email address
            </div>
        </div>

        <label for="password">Password:</label>
        <input id="password" type="password" 
        formControlName="password" required>
        
        <div *ngIf="password.invalid" class="alert-danger">
            <div *ngIf="password.errors.required">
                Password is required
            </div>
            <div *ngIf="password.errors.minlength">
                Password needs to be at least 8 characters long
            </div>
        </div>

        <div *ngIf="error" class="alert-danger">
            {{ backendError }}
        </div>

        <div *ngIf="isEmailSent">
            An email was sent to {{ user.email }}. Click on the link to activate your account   
        </div>

        <button class="register-form-button" type="submit">Register</button>
    </form>
</section>

